<h3 class="title">Login</h3>
<hr class="login-hr">
<p class="subtitle has-text-primary">Please login to view and post events!</p>
<div class="login-input-wrapper">
    <div>
    <label for="email-login"> <strong>Email</strong></label>
    <input type="text" id="email-login" placeholder="email@email.com" />
    </div>
    <div>
    <label for="password-login"><strong>Password</strong></label>
    <input type="password" id="password-login" placeholder="password123" />
    </div>
</div>
<br>
<div>
    <button type="submit" class="button is-primary">login</button>
</div>
<br>
<div>
    <p>Don't have an account? <a href='/signup'>Sign-Up</a></p>
</div>