<h3 class="title">Sign Up</h3>
<hr class="login-hr">
<p class="subtitle has-text-primary">Please create an account to view and post events!</p>
<div class="login-input-wrapper">
    <div>
    <label for="username-signup"><strong>Username</strong></label>
    <input type="text" id="username-signup" placeholder="user" />
    </div>
    <div>
    <label for="email-signup"> <strong>Email</strong></label>
    <input type="text" id="email-signup" placeholder="email@email.com" />
    </div>
    <div>
    <label for="password-signup"><strong>Password</strong></label>
    <input type="password" id="password-signup" placeholder="password123" />
    </div>
</div>
<br>
<div>
    <button type="submit" class="button is-primary">sign up</button>
</div>
<br>
<div>
    <p>Already have an account? <a href='/'>Log In</a></p>
</div>
