<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Raising the Handlebars</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
  <section class="hero is-primary is-medium"></section>
  <div class="navbar">
  <div class="container">
    <div class="navbar-brand"
    <a class="navbar-item"
    <img src="Public/images/RTHLogo2.png" alt="Logo
    <header>
      <h1 class="title">
        <a href="/">Raising the Handlebars.js</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login to view and post events</a>
        {{/if}}
      </nav>
    </header>
    <br>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>
