<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Handle - Events</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="app-wrapper">
    <div class="app-content">

      <header class="hero is-small is-primary">
        <div class="hero-body nav-wrapper">
          <div>
            <h1 class="title">
              <a href="/">Handle</a>
            </h1>
            <p class="subtitle">
              ...for getting out in a post-COVID world.
            </p>
          </div>
          <div>
            {{#if loggedIn}}
            {{!-- <a class="button is-primary"></a><a href="/dashboard">Dashboard</a> --}}
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            {{!-- <a class="navbar-burger" data-target="navbarMenuHeroA"> --}}
            <a href="/login"><button>Login</button> to view and post events</a>
            {{/if}}
          </div>
        </div>
      </header>

      <main>
        {{{ body }}}
      </main>
      
    </div>
    
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Thanks for visiting!</strong>
        </p>
      </div>
    </footer>
  </div>



  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>