<div>Welcome to your event dashboard</div>
<br>
<section class="post-list">
  {{#each events as |event|}}
  <div>
    {{> event-info event }}
  </div>
  {{/each}}
</section>
<aside>
  Hi, {{ user.username }}, welcome to Handle.
  <br>
  <a href="/add-event">Click here to add an event!</a>
  <br>
  <div>
    Select a guideline tag below to view related events:
    {{#each tags as |tag|}}
    <div>
    {{> tags-info tag }}
    </div>
    {{/each}}
  </div>
</aside>