<div>You are on the homepage</div>
<br>
<section class="post-list">
  Welcome to Handle, the event site to help you get a grip on attending events in a post-pandemic world.
  <br>
  <br>
  Hear about an event from a friend or on another site but didn't get quite enough details? Handle presents all the necessary safety guideline information for upcoming events throughout the Richmond Area. 
  <br>
  <br>
  Our mission is simple; to bring fun social experiences back into all RVA residents live's, by making sure everyone can find the right event for them and their family. 
  <br>
  <br> 
  Make an account to view all upcoming events. Easily sort events by guidelines to see only the events that match your comfort level.
  <br>
  <br>
  Hosting a community event that's not on our site yet? Once you make an account, you can post your own. 
  <br>
  <br>
  Our team works diligently to add new events regularly and varify safety guidelines are correct. 
  To contact our team please <a href="mailto:team@handleevents.com">Email Us</a>. We would love to hear from you!
</section>
<br>