<br>
<br>
<section class="columns post-list">
  <div class="message is-link column is-6">
    <br>
    <br>
    <section>
    <div class="box-content">
      <div>
    <div class="row-content">
      <section>
      <div class="row-header">Handle Events</div>
      
      <div>
       
  <div class="column">Post</div>
  <div class="column">Seek</div>
  <div class="column">Review</div>
  </div>
</div>

    
    </div>
    </div>
 </section>
 


    
    {{!-- Welcome to Handle, the event site to help you get a "handle" on attending events in a post-pandemic world.
    <br>
    <br>
    Have you seen posts about local events from a friend or on another site, but didn't get quite enough information? Handle presents all the necessary safety guideline information for upcoming events throughout the Richmond Area. 
    <br>
    <br>
    Our mission is simple; to bring fun social experiences back into all RVA residents live's, by making sure everyone can find the right event for them and their family. 
    <br>
    <br> 
    Make an account to view all upcoming events. Easily sort events by guidelines to see only the events that match your comfort level.
    <br>
    <br>
    Hosting a community event that's not on our site yet? Once you make an account, you can post your own.  --}}
    <br>
    <br>
    
  </div>
  <div class="message is-link column is-6">
    <div class="login-wrapper">
      <form class="login-card login-form box">
        <h3 class="title">Login</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-primary">Please login to view and post events!</p>
        <div class="login-input-wrapper">
          <div>
            <label for="email-login"> <strong>Email</strong></label>
            <input type="text" id="email-login" placeholder="email@email.com" />
          </div>
          <div>
            <label for="password-login"><strong>Password</strong></label>
            <input type="password" id="password-login" placeholder="password123" />
          </div>
        </div>
        <br>
        <div>
          <button type="submit" class="button is-primary">login</button>
        </div>
        <br>
      </form>

      <form class="login-card signup-form box">
        <h3 class="title">Sign Up</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-primary">Please create an account to view and post events!</p>
        <div class="login-input-wrapper">
          <div>
            <label for="username-signup"><strong>Username</strong></label>
            <input type="text" id="username-signup" placeholder="user" />
          </div>
          <div>
            <label for="email-signup"> <strong>Email</strong></label>
            <input type="text" id="email-signup" placeholder="email@email.com" />
          </div>
          <div>
            <label for="password-signup"><strong>Password</strong></label>
            <input type="password" id="password-signup" placeholder="password123" />
          </div>
        </div>
        <br>
        <div>
          <button type="submit" class="button is-primary">sign up</button>
        </div>
        <br>
      </form>
    </div>
  </div>
</section>

<script src="/javascript/login.js"></script>