html, body {
    min-height: 100vh;
}

body {
    background: #F0803C;
}

.hero {
    background-color: #F0803C;
    color: white;
    font-style: inherit;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 4rem;
    color: white;
}

.message.is-link {
    background-color:#F0803C;
    color: #F1EFE4;
    height: %;
    width:45%;
}

.message.is-link .message-header {
    background-color:#F0803C;
    font-size: 1.25rem;
}




.post-list {
    border: none;
    font-size: 8rem;
    padding: 1.5rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
}

.column {
    float: center;
width: 25%;
display: inline-flex; 
}

.row-header {
    display: flex;
    text-align: center;
    display: : flex;
    padding: 30px;
    font-size: 55px;
}

.row-content {
    border: solid;
    border-color: teal;
    display: flex;
    text-align: center;
    height: 300px;
    line-height: 75px;
  padding: 50px;
    margin: 25px;
}

.box-content {
    background-color: #F0803C;
    width: 550px;
    height: 1000px;
    align-items: center;
}

.footer {
flex-grow: 0;
padding-bottom: 2rem;
}

.app-wrapper {
display: flex;
flex-direction: column;
min-height: 100vh;
}

.app-content {
    flex-grow: 1;
}

.event-card {
    background-color:#F0803C;
    color: #32292F;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.aside {
    margin-right: 2rem;
    margin-top: 5rem;
    padding: 1rem;
    background-color: #F0803C;
    color: #32292F;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.tag-button {
    font-size: 1.25rem;
}

.login-card {
    text-align: center;
    width: 80%;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 245px;
}

.footer {
    background-color:#F0803C;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
/* 
/* .content h2 { */
    color: #F1EFE4;
} */