html, body {
    min-height: 100vh;
}

body {
    background: #F0803C;
}

.message.is-link {
    background-color: #F0803C;
    color: #F1EFE4;
}

.message.is-link .message-header {
    background-color: #F0803C;
    font-size: 1.25rem;
}

.hero.is-primary {
    background-color: #50858B;
    color: #F1EFE4;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.post-list {
    border: none;
    font-size: 1.5rem;
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
}

.footer {
flex-grow: 0;
padding-bottom: 2rem;
}

.app-wrapper {
display: flex;
flex-direction: column;
min-height: 100vh;
}

.app-content {
    flex-grow: 1;
}

.event-card {
    background-color: #F1EFE4;
    color: #32292F;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.aside {
    margin-right: 2rem;
    margin-top: 5rem;
    padding: 1rem;
    background-color: #F1EFE4;
    color: #32292F;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.tag-button {
    font-size: 1.25rem;
}

.login-card {
text-align: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

.login-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 245px;
}

.footer {
    background-color: #50858B;
}

.content h2 {
    color: #F1EFE4;
}